#pay{
  ._item{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    margin-bottom: 52px;
    label{
      display: inline-block;
      width: 100px;
      height: 50px;
      line-height: 50px;
      font-size: 20px;
      color: #777;
    }
    input{
      //display:inline-block;
      //-webkit-flex: 880px;
      //flex: 880px;
      //-webkit-box-flex: 880px;
      width: 880px;
      height: 50px;
      border: 1px solid #ddd;
      background-color: #faf9f9;
      font-size: 20px;
      color:#aaa;
      padding: 6px;
    }
  }
  #pay_item4{
    color: #3989de;
  }
  p{
    line-height: 20px;
    font-size: 20px;
    color: #aaa;
    padding-left: 100px;
  }
  .sent{
    margin-top: 50px;
    width: 163px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #3989de;
    color: #fff;
    margin-left: 100px;
    outline: 0;
    border: 0;
    font-size: 20px;
  }
  .cancel{
    width: 163px;
    height: 50px;
    line-height: 50px;
    border: 0;
    outline: 0;
    background-color: #fff;
    color: #3276c3;
    font-size:20px;
  }
} 
.pay{
  width:800px;
  color: rgb(177, 178, 182);
  margin-left: 50px;
  @media screen and (max-width: 1400px){
    margin-left: 50px;
    width:700px;
  }
  @media screen and (min-width: 1920px){
    margin-left: 50px;
    //width:710px;
  }
  @media screen and (min-width:1400px) and (max-width:1920px){
    width:750px;
    margin-left: 50px;
  }
  .border_box{
    margin-top: 20px;
    /* border-top: 2px solid #010103; */
    border-bottom: 2px solid #b3904e;
    @media screen and (max-width: 1400px){
      /* border-top: 2px solid #010103; */
      border-bottom: 2px solid #b3904e;
    }
  }
  .pay_upper{
    margin-top: 30px;
    text-align: right;
    font-size: 20px;
    font-weight: 200;
    @media screen and (max-width: 1400px){
      margin-top: 20px;
      font-size: 14px;
    }
    input,select,textarea{
      resize: none;
      width: 68%;
      height: 55px;
      border: none;
      //background-image: linear-gradient(rgb(253, 253, 253),rgb(179, 179, 179));
      background: #1f2c3f;
      display: inline-block;
      border-radius: 6px;
      margin-left: 10px;
      @media screen and (max-width: 1400px){
        margin-left: 5px;
        height: 35px;
      }
    }
    textarea{
      font-size: 1em;
      color: #fff;
      padding-top: 10px;
      background: #1f2c3f;
      @media screen and (max-width: 1400px){
        font-size:0.5em;
      }
      @media screen and (min-width:1400px) and (max-width:1920px){
        font-size:0.8em;
      }
    }
    .pay_upper_left{
      display: inline-block;
      width: 48%;
      text-align: right;
      float: left;
      margin-left: -50px;
      @media screen and (max-width: 1400px){
        margin-left: -65px;
      }
      @media screen and (min-width:1400px) and (max-width:1920px){
        margin-left: -40px;
      }
      ul{
        li{
          margin-bottom: 20px;
          line-height: 55px;
          width: 120%;
          @media screen and (max-width: 1400px){
            line-height: 35px;
          }
          textarea{
            line-height: .8em;
            @media screen and (max-width: 1400px){
              line-height: .5em;
            }
          }
        }
      }
    }
    .pay_upper_right{
      display: inline-block;
      width: 48%;
      text-align: right;
      float: right;
      ul{
        li{
          margin-bottom: 20px;
        }
        .rightFee{
          input{color: #b3904e;}
        }
      }
    }
  }
  .pay_down{
    text-align: right;
    clear: both;
    font-size: 20px;

    span{
      font-weight: 200;
    }
    textarea{
      float: right;
      margin-left: 13px;
      width: 88%;
      height: 110px;
      resize: none;
      border: none;
      /* box-shadow: 4px 4px #0e1118; */
      background-color: #1f2c3f;
      @media screen and (max-width: 1400px){
        //margin-left: 7px;
        width: 91.5%;
      }
      @media screen and (min-width:1400px) and (max-width:1920px){
        width: 87%;
      }
    }
  }

  .pay_confirm{
    margin-top: 60px;
    color: #fff;
    text-align: center;
    font-size: 28px;
    position: relative;
    //background-image: linear-gradient(rgb(24, 25, 30),rgb(0, 1, 5));
    background: #b3904e;
    display: inline-block;
    padding-right: 10px;
    padding-left: 20px;
    line-height: 60px;
    height: 60px;
    width: 25%;
    left: 35%;
    border-radius: 20px;
    //box-shadow: 3px 3px 10px rgb(16, 20, 29);
    cursor: pointer;
    @media screen and (max-width: 1400px){
      font-size: 18px;
      height: 45px;
      line-height: 45px;
      width: 35%;
    }
    span{
      position: absolute;
      top: 12px;
      margin-left: 20px;
      display: inline-block;
      height: 35px;
      width: 35px;
      background: url("../assets/login/blue_circle.png") no-repeat;
      background-size: 200% 200%;
      background-position: 45% 45%;
      @media screen and (max-width: 1400px){
        height: 35px;
        width: 35px;
        top: 6px;
      }
    }
  }
}