<div id="pay" ng-controller="payCtrl" ng-init="init()">
    <div class="_item">
        <label >发送者</label>
        <input type="text" id="pay_item1">
    </div>
    <div class="_item">
        <label >接收者</label>
        <input type="text" id="pay_item2">
    </div>
    <div class="_item">
        <label >输入金额</label>
        <input type="text" id="pay_item3">
    </div>
    <div class="_item">
        <label >手续费</label>
        <input type="text" id="pay_item4">
    </div>
    <p>请确保您正在发送LSK给正确的地址，本操作无法撤消。</p>
    <button class="sent">发送LSK 拷贝</button> <button class="cancel">取消</button>
</div>
