<div id="blockchain" ng-controller="blockchainCtrl" ng-init="init()">
	<div class="latest">
		<div class="table_title">最新区块</div>
		<div class="search">
			<input type="text" value="输入搜索内容">
			<a class="search_icon"><img src="../assets/common/search.png" alt=""></a>
		</div>
	</div>
	<div class="deal_table">
		<table class="table">
			<tr class="deal_table_title ">
				<td>高度</td>
				<td>日期</td>
				<td>名称</td>
				<td>交易信息</td>
				<td>金额</td>
				<td>费用</td>
				<td>奖励</td>
			</tr>
			<tr >
				<td class="level" ng-click="showhignInfo()">412268</td>
				<td> 5 minutes ago</td>
				<td>1847</td>
				<td><i class="level" ng-click="showdealInfo()">5</i> 个</td>
				<td>810.37<i class="XAScolor">XAS</i></td>
				<td>16,123<i class="XAScolor">XAS</i></td>
				<td>33352<i class="XAScolor">XAS</i></td>
			</tr>
			<tr >
				<td class="level" ng-click="showhignInfo()">412268</td>
				<td> 5 minutes ago</td>
				<td>1847</td>
				<td><i class="level" ng-click="showdealInfo()">5</i> 个</td>
				<td>810.37<i class="XAScolor">XAS</i></td>
				<td>16,123<i class="XAScolor">XAS</i></td>
				<td>33352<i class="XAScolor">XAS</i></td>
			</tr>
			<tr >
				<td class="level" ng-click="showhignInfo()">412268</td>
				<td> 5 minutes ago</td>
				<td>1847</td>
				<td><i class="level" ng-click="showdealInfo()">5</i> 个</td>
				<td>810.37<i class="XAScolor">XAS</i></td>
				<td>16,123<i class="XAScolor">XAS</i></td>
				<td>33352<i class="XAScolor">XAS</i></td>
			</tr>
			<tr >
				<td class="level" ng-click="showhignInfo()">412268</td>
				<td > 5 minutes ago</td>
				<td>1847</td>
				<td><i class="level" ng-click="showdealInfo()">5</i> 个</td>
				<td>810.37<i class="XAScolor">XAS</i></td>
				<td>16,123<i class="XAScolor">XAS</i></td>
				<td>33352<i class="XAScolor">XAS</i></td>
			</tr>
			<tr >
				<td class="level" ng-click="showhignInfo()">412268</td>
				<td> 5 minutes ago</td>
				<td>1847</td>
				<td><i class="level" ng-click="showdealInfo()">5</i> 个</td>
				<td>810.37<i class="XAScolor">XAS</i></td>
				<td>16,123<i class="XAScolor">XAS</i></td>
				<td>33352<i class="XAScolor">XAS</i></td>
			</tr>
			<tr >
				<td class="level" ng-click="showhignInfo()">412268</td>
				<td> 5 minutes ago</td>
				<td>1847</td>
				<td><i class="level" ng-click="showdealInfo()">5</i> 个</td>
				<td>810.37<i class="XAScolor">XAS</i></td>
				<td>16,123<i class="XAScolor">XAS</i></td>
				<td>33352<i class="XAScolor">XAS</i></td>
			</tr>


		</table>
	</div>


</div>