<div id="blockforging" ng-controller="blockforgingCtrl" ng-init="init()">
		<div class="accountInfo_cont">
			<div class="_title">
				区块锻造的基本信息
				<div class="nav_register">
					想成为受托人 注册
				</div>
			</div>
			<div class="circlePicInfo">
				<div class="circle allMoney">
					<div class="pagea circle"></div>
					<div class="text1">总转取</div>
					<div class="text2">300,000</div>
					<div class="text3">XAS</div>
				</div>
				<div class="circle rank">
					<div class="pagea circle">
						<div class="title">排名</div>
						<div class="num">150</div>
					</div>
				</div>
				<div class="circle output">
					<div class="pagea circle">
						<div class="title">生产率</div>
						<div class="num">0.32%</div>
					</div>
				</div>
				<div class="circle depiao">
					<div class="pagea circle">
						<div class="title">得票率</div>
						<div class="num">0.82%</div>
					</div>
				</div>

			</div>
		</div>
		<div class="baseInfo">
			<div class="_title">
				锻造的区块
			</div>
			<div class="baseInfo_content">
				<table class="table">
					<tr ><th>区块高度</th><th>接收者</th><th>日期</th><th>金额（手续费）</th></tr>
					<tr><td>3347762178747334519L</td><td>3347762178747334519L</td><td>7 days ago</td><td><span class="reduceIcon"></span>5493（0.1）</td></tr>
					<tr ><td>3347762178747334519L</td><td>3347762178747334519L</td><td>7 days ago</td><td><span class="addIcon"></span>5493（0.1）</td></tr>
					<tr ><td>3347762178747334519L</td><td>3347762178747334519L</td><td>7 days ago</td><td><span class="reduceIcon"></span>5493（0.1）</td></tr>
					<tr ><td>3347762178747334519L</td><td>3347762178747334519L</td><td>7 days ago</td><td><span class="addIcon"></span>5493（0.1）</td></tr>
					<tr ><td>3347762178747334519L</td><td>3347762178747334519L</td><td>7 days ago</td><td><span class="addIcon"></span>5493（0.1）</td></tr>
				</table>
			</div>

			<div class="more">
				加载更多...
			</div>

		</div>
</div>