<div class="voteto" ng-controller="votetoCtrl" ng-init="init()">
    <div class="h_header">
        <span>投票给受托人</span><a class="close"href="" ng-click="Close()"><img src="/assets/common/close.png" alt=""></a>
        <p class="tips">请确认您的选择与投票，每张票最多可以同时投33人</p>
    </div>
    <div class="listing">
        <ul >
            <li class="left" ng-repeat="i in showusername"> {{ i.username }}<span class="right">{{ i.address }}</span></li>

        </ul>
    </div>

    <div class="item_detail">
        <label for="ercemima" ng-show="userService.secondPublicKey">二级密码</label>
        <input maxlength="16" ng-model="secondpassword" id= "ercemima" type="password" class="tips_voteto" ng-show="userService.secondPublicKey">
    </div>
    <div class="btn_wrap">
        <button ng-click="checkvoteto()">确认投票</button>
        <a href="" ng-click="Close()">取消</a>
    </div>
    <p class="tar">需要支付 1 XAS</p>
</div>