<div class="voteto" ng-controller="votetoCtrl" ng-init="init()">
    <div class="h_header">
        <span>投票给受托人</span><a class="close"href="" ng-click="Close()"><img src="/assets/common/close.png" alt=""></a>
        <p class="tips">请确认您的选择与投票。</p>
    </div>
    <div class="listing">
        <ul>
            <li class="left">genesis_20<span class="right">删除</span></li>
            <li class="left">genesis_20<span class="right">删除</span></li>
            <li class="left">genesis_20<span class="right">删除</span></li>
            <li class="left">genesis_20<span class="right">删除</span></li>
        </ul>
    </div>



    <div class="item_detail">
        <p class="tips_voteto">您每次投标可以选择最多33位受托人，总共可以给101位受托人投票。</p>
    </div>
    <div class="btn_wrap">
        <button>确认投票</button>
        <a href="" ng-click="Close()">取消</a>
    </div>
    <p class="tar">需要支付0.33XAS</p>
</div>