<div class="lockblock" ng-controller="lockblockCtrl" ng-init="init()">
    <div class="modal_header">
            {{'LOCK_POSITION_TITLE' | translate}}
      <a class="modal_close" href="" ng-click="Close()"><img src="/assets/personal/exit.png" alt=""></a>
    </div>
    <div class="modal_content">
        <div class="form_group">
            <input class="psd_confirm" type="text" placeholder="&nbsp;&nbsp;{{'ACCOUNT_TYPE_HINT' | translate}}" ng-model="block_number">
            <input class="psd_confirm" type="password" placeholder="&nbsp;&nbsp;{{'ACCOUNT_TYPE2_HINT' | translate}}" ng-model="secondpassword" ng-show="!userService.secondPublicKey">
        </div>
        <div class="linear-bar">
            <span>{{'ACCOUNT_LOCK_TIP' | translate}}</span><br />
        </div>
        <div class="pay_confirm" ng-click="setPositionLock()">
                {{'SUBMIT' | translate}}
            <span></span>
        </div>
    </div>
</div>