<div class="dealinfo" ng-controller="dealinfoCtrl" ng-init="init()">
    <div class="h_header">区块ID:<span>6365507578886866076</span><a class="close"href="" ng-click="CloseDealinfo()"><img src="/assets/common/close.png" alt=""></a></div>
    <div class="item_detail">
        <table class="table">
            <tr>
                <td>摘要</td>
                <td>无</td>
            </tr>
            <tr>
                <td>交易信息</td>
                <td>0</td>
            </tr>
            <tr>
                <td>确认数</td>
                <td>1</td>
            </tr>
            <tr>
                <td>高度</td>
                <td>1234234</td>
            </tr>
            <tr>
                <td>奖励</td>
                <td>1234234</td>
            </tr>
            <tr>
                <td>总手续费</td>
                <td>1234234</td>
            </tr>
            <tr>
                <td>总金额</td>
                <td>1234234</td>
            </tr>
            <tr>
                <td>美元折算</td>
                <td>$34,234</td>
            </tr>
            <tr>
                <td>日期</td>
                <td>2016/06/12 11:24:20 </td>
            </tr>
            <tr>
                <td>上一个区块</td>
                <td>14648057819975016417</td>
            </tr>
            <tr>
                <td>创建者</td>
                <td>751548867820407086L</td>
            </tr>
        </table>
    </div>
</div>