<div class="dealinfo" ng-controller="dealinfoCtrl" ng-init="init()">
    <div class="h_header">交易信息<span>（5）</span><a class="close"href="" ng-click="CloseDealinfo()"><img src="/assets/common/close.png" alt=""></a></div>
    <div class="item_detail">
        <table class="table">
            <tr class="title">
                <td>交易ID</td>
                <td>确认数</td>
                <td>金额</td>
                <td>费用</td>
                <td>日期</td>
            </tr>
            <tr class="table_content">
                <td>16625620042597159980</td>
                <td>33757</td>
                <td class="orangeFont">10980<i>XAS</i></td>
                <td class="orangeFont">0.1<i>XAS</i></td>
                <td>2016/5/26 23:19:38</td>
            </tr>
            <tr class="table_content">
                <td>16625620042597159980</td>
                <td>33757</td>
                <td class="orangeFont">10980<i>XAS</i></td>
                <td class="orangeFont">0.1<i>XAS</i></td>
                <td>2016/5/26 23:19:38</td>
            </tr>
            <tr class="table_content">
                <td>16625620042597159980</td>
                <td>33757</td>
                <td class="orangeFont">10980<i>XAS</i></td>
                <td class="orangeFont">0.1<i>XAS</i></td>
                <td>2016/5/26 23:19:38</td>
            </tr>
            <tr class="table_content">
                <td>16625620042597159980</td>
                <td>33757</td>
                <td class="orangeFont">10980<i>XAS</i></td>
                <td class="orangeFont">0.1<i>XAS</i></td>
                <td>2016/5/26 23:19:38</td>
            </tr>
            <tr class="table_content">
                <td>16625620042597159980</td>
                <td>33757</td>
                <td class="orangeFont">10980<i>XAS</i></td>
                <td class="orangeFont">0.1<i>XAS</i></td>
                <td>2016/5/26 23:19:38</td>
            </tr>
            <tr class="table_content">
                <td>16625620042597159980</td>
                <td>33757</td>
                <td class="orangeFont">10980<i>XAS</i></td>
                <td class="orangeFont">0.1<i>XAS</i></td>
                <td>2016/5/26 23:19:38</td>
            </tr>
            <tr class="table_content">
                <td>16625620042597159980</td>
                <td>33757</td>
                <td class="orangeFont">10980<i>XAS</i></td>
                <td class="orangeFont">0.1<i>XAS</i></td>
                <td>2016/5/26 23:19:38</td>
            </tr>
            <tr class="table_content">
                <td>16625620042597159980</td>
                <td>33757</td>
                <td class="orangeFont">10980<i>XAS</i></td>
                <td class="orangeFont">0.1<i>XAS</i></td>
                <td>2016/5/26 23:19:38</td>
            </tr>

        </table>
    </div>
</div>