<div class="assignee" ng-controller="assigneeCtrl" ng-init="init()">
    <div class="h_header" ><span>注册为受托人</span><a class="close" href="" ng-click="Close()"><img src="/assets/common/close.png" alt=""></a></div>
    <!--<div class="h_header" ng-show="checkit"><span>账户确认</span><a class="close"href="" ng-click="Close()"><img src="/assets/common/close.png" alt=""></a></div>-->
    <div class="item_detail one" >
        <div class="left">受托人名称</div>
        <div class="right">
            <input type="text" ng-model="userName" placeholder="请输入受托人名称">
        </div>
        <div class="left" ng-show="userpublickey">二级密码</div>
        <div class="right">
            <input placeholder="至少8为数字和字母组合"maxlength="16" ng-model="secondpassword"type="text" class="tips_voteto" ng-show="userpublickey">
        </div>
    </div>

    <div class="btn_wrap" >
        <button ng-click="nextstep()">注册</button>
        <a href="" ng-click="Close()">取消</a>

    </div>
    <div class="clearfloat"></div>
    <p>需要支付100XAS</p>
</div>