<div id="login" ng-controller="loginCtrl" ng-init="init()" >‘
	<!-- 新增 logo&字样 -->
	<div class="logo_bar">
		<img class="logo_logo" src="/assets/common/logo_absorb.png">
		<img class="logo_title" src="/assets/common/absorb_title.png">
	</div>
	<div class="border_box"></div>
	<!-- 登陆区域 仅在首页显示-->
	<div class="wrap1 " ng-show="register">
		<!-- <div class="header"></div> -->
		<div class="content">
			<div class="content_top">
				<!--<div class="left">-->
					<!--<img src="/assets/common/user-anonymous.png" alt="">-->
				<!--</div>-->
				<!-- 左侧select -->
				<div class="left">
					<select>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
					</select>
					<input type="text">
				</div>
				<div class="right">
					<button class="right_btn1">添加</button>
					<button class="right_btn1">清空</button>
					<!-- <input ng-model="secret" type="password" placeholder="{{'INPUT_PASSWORD' | translate}}"> -->
					<!-- <div class="is-agree">
						<input class="magic-checkbox" type="checkbox" ng-checked="saveLogin" ng-click="saveLoginChange()" name="layout" id="1">
						<label  for="1">{{'KEEP_SESSION' | translate}}</label>
					</div> -->
					<!-- <div class="language">
						<img src="{{languageIcon}}" />
						<select ng-model="selectedLanguage" ng-options="l.value for l in languages" ng-change="changeLanguage()"></select>
					</div> -->
				</div>
			</div>
			<div class="content_bottom">
				<div class="psd_input">
					<span class="psd_img"></span>
					<input type="password" placeholder="输入主密码" ng-model="secret">
				</div>
				<div class="maintain_status">
					<!-- <img src="/assets/login/confirmed.png"> -->
					<span class="status_img"></span>
					<p>保持登陆状态</p>
				</div>
				<select ng-model="selectedLanguage" ng-options="l.value for l in languages" ng-change="changeLanguage()"></select>
			</div>
			<div class="btn_group">
				<div class="btn_login" ng-click="registerin()">
					登&nbsp;陆
					<span></span>
				</div>
				<div class="btn_new" ng-click="newuser()">
					新账户
					<span></span>
				</div>
			</div>
			<!-- <button class="register" ng-click="registerin()">{{'LOGIN' | translate}}</button>
			<button class="newuser" ng-click="newuser()">{{'NEW_ACCOUNT' | translate}}</button> -->
		</div>
		<div class="wrap1_bg"></div>
	</div>
	<div class="wrap2 " ng-show="creatpwd">
		<div class="header">
			<!-- <p>{{'STEP' | translate}} <i>1</i><b>/ 2</b><span>{{'CREATE_MASTER_PASSWORD' | translate}}</span></p> -->
			<!-- 本来就是废的↓ -->
			<!--<img src="/assets/common/close.png" class="close" ng-click="close()" alt="">-->
			<div class="linear-bar">
				<span>步骤1/2&nbsp;创建主密码</span><br />
				<i>新的主密码</i>
			</div>
		</div>
		<div class="content">
			<div class="content_top">
				<!--<div class="left">-->
					<!--<img src="/assets/common/user-anonymous.png" alt="">-->
				<!--</div>-->
				<div class="right">
					<textarea type="textarea" id="textarea" ng-model="newsecret" disabled></textarea>
					<!-- <p>{{'NEW_PWD_TIP_1' | translate}}</p> -->
				</div>
				<div class="linear-bar">
					<span>系统为您生成了足够安全的新密码</span><br />
					<i>下一步将会要求您重复输入以确认密码</i>
				</div>
			</div>
			<div class="btn_group">
				<div class="btn_login" ng-click="nextStep()">
					下一步
					<span></span>
				</div>
				<div class="btn_new" ng-click="saveTxt('ASCH-secret')">
					保存主密码
					<span></span>
				</div>
			</div>
			<!-- <button class="checkstep" ng-click="nextStep()">{{'NEXT_STEP' | translate}}</button>
			<button class="savepsw"><a ng-click="saveTxt('ASCH-secret')">{{'SAVE_PASSWORD' | translate}}</a></button> -->
		</div>
	</div>
	<div class="wrap3" ng-show="checkpwd">
		<div class="header">
			<!-- <p>{{'STEP' | translate}}<i>2</i><b>/ 2</b><span>{{'CONFIRM_PASSWORD' | translate}}</span> </p>
			<img src="/assets/common/close.png" ng-click="close()" class="close" alt=""> -->
			<div class="linear-bar">
				<span>步骤2/2&nbsp;确认主密码</span><br />
				<i>请重新输入您的主密码</i>
			</div>
		</div>
		<div class="content">
			<div class="content_top">
				<!--<div class="left">-->
					<!--<img src="/assets/common/user-anonymous.png"  alt="">-->
				<!--</div>-->
				<div class="right">
					<!-- <label for="textarea1">{{'INPUT_PASSWORD_AGAIN' | translate}}</label> -->
					<textarea type="textarea" id="textarea1"  ng-model="lastsecret"></textarea>
					<!-- <p>{{'NEW_PWD_TIP_2' | translate}}</p> -->
				</div>
				<div class="linear-bar">
					<span>请确认您已安全保存主密码，如果您是去您的主密码</span><br />
					<i>您的账户将永远无法再打开，您将失去失去所有的虚拟币</i>
				</div>
				<div class="btn_group" ng-click="lastcheck()">
						<div class="btn_login">
							确&nbsp;&nbsp;认
							<span></span>
						</div>
						<div class="btn_new" ng-click="backto()">
							返&nbsp;&nbsp;回
							<span></span>
						</div>
					</div>
			</div>
			<!-- <button class="lastcheck" ng-click="lastcheck()">{{'CONFIRM' | translate}}</button>
			<button class="backto" ng-click="backto()">{{'CANCEL' | translate}}</button> -->
		</div>
	</div>
</div>