<div class="deletevote" ng-controller="deletevoteCtrl" ng-init="init()">
    <div class="h_header">
        <span>取消给受托人的投票</span><a class="close"href="" ng-click="Close()"><img src="/assets/common/close.png" alt=""></a>
        <p class="tips">每次可最多同时删除对33人的投票</p>
    </div>
    <div class="listing">
        <ul >
            <li class="left" ng-repeat="i in showdelusername"> {{ i.username }}<span class="right">{{ i.address }}</span></li>

        </ul>
    </div>

    <div class="item_detail" ng-show="userService.secondPublicKey">
        <label for="ercemima"">二级密码</label>
        <input maxlength="16" ng-model="secondpassword" id= "ercemima" type="password" class="tips_voteto">
    </div>
    <div class="btn_wrap">
        <button ng-click="checkvoteto()">删除投票</button>
        <a href="" ng-click="Close()">取消</a>
    </div>
    <p class="tar">需要支付 0.1 XAS</p>
</div>