<div id="personal" ng-controller="personalCtrl" ng-init="init()">
				<div class="nav">
					<div class="nav_per accountInfo ">
						账户信息
					</div>
					<div class="nav_per passwordInfo active">
						支付密码
					</div>
					<div class="nav_exit">
						退出系统
					</div>
					<div class="clear"></div>
				</div>
				<!---账户信息 start-->
				<div class="accountInfo_cont none">
					<div class="baseInfo">
						<div class="_title">
							基本信息
						</div>
						<div class="baseInfo_content">
							<div class="baseInfo_tx"></div>
							<div class="baseInfo_text">
								<div class="account_text text_row">
									<span class="greyFont">账户名 : </span> 2323236473289675612L 
								</div>
								<div class="sum_text text_row">
									<span class="greyFont">总余额 : </span> <span class="orangeFont"> 0.69103029</span> <span class="greyFont">XAS</span> 
								</div>
								<div class="dallor_text text_row">
									<span class="greyFont">美元折算 : </span><span class="orangeFont"> $0.28</span>
								</div>
								<div class="publickey_text text_row">
									<span class="greyFont">公钥 : </span> 58d55f95d6383d526a150e69c767c9eb78b2dd6ebe55837cbb133319a3d
								</div>
								<div class="summary_text text_row">
									<span class="greyFont">摘要 : </span> 2323236473289675612L 	
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="businessInfo">
					<div class="_title">
						交易记录<span class="greyFont_size">   共六条</span>
					</div>
					<div class="business_text">
						<div class="">
							1<br/>
							1<br/>
							1<br/>
							1<br/>
							1<br/>
							1<br/>
							
							1<br/>
							1<br/>
							1<br/>
							1<br/>
							1<br/>
							1<br/>
							1<br/>
							1<br/>
							1<br/>
							1<br/>
						</div>
						<div class="more">
							加载更多...
						</div>
					</div>
				</div>
				</div>
				<!-- -账户信息 end -->
				<!-- -支付信息 start -->
				<div class="passwordInfo_cont">
					<div class="finishSet none">
						<img src="img/tip_passwordNo.png" class="finishSet_icon"/>
						<div class="finishSet_text">
							您已经设置好支付密码，无需设置。
						</div>
					</div>
					<div class="setPassword">
						<div class="_title">
							支付密码
						</div>
						<div class="setPassword_tip">
							为了更好的保护您的帐户密码，请稍等片刻让支付密码配置生效请在下方填写您的支付密码。
						</div>
						<div class="setPassword_tip">
							为了更好的保护您的帐户密码，请稍等片刻让支付密码配置生效请在下方填写您的支付密码。
						</div>
					</div>
					<div class="confirmPassword">
						<div class="_title">
							支付密码
						</div>
					</div>
				</div>
				<!--支付信息 end-->
				
			</div>