<div class="asch_tip">
    <p>
        <a ng-href="#/home"> <img src="/assets/common/min_logo.png" alt="">{{'HOME' | translate}}</a>
        <span ng-show="$root.active == 'personal'">/{{'PERSONAL' | translate}}</span>
        <span ng-show="$root.active == 'application'">/{{'APPLICATIONS' | translate}}</span>
        <span ng-show="$root.active == 'blockforging'">/{{'FORGING' | translate}}</span>
        <span ng-show="$root.active == 'blockchain'">/{{'BLOCKS' | translate}}</span>
        <span ng-show="$root.active == 'vote'">/{{'VOTE' | translate}}</span>
        <span ng-show="$root.active == 'pay'">/{{'TRANSFER' | translate}}</span>
        <span ng-show="$root.active == 'peer'">/{{'PEERS' | translate}}</span>
        <span ng-show="$root.active == 'asset'">/{{'ASSET' | translate}}</span>
    </p>
</div>
<div id="removeacl" ng-controller="addaclCtrl" ng-init="init()">
    <p>你正在执行{{moneyName}}资产设置操作，需要消耗0.1 XAS</p>
    <div class="_item">
        <label >{{'CURRENT_MODE' | translate}}</label>
        <input type="text" value="黑名单模式"  disabled>
    </div>
    <div class="_item">
        <label >{{'SECOND_PASSWORD' | translate}}</label>
        <input type="text"  >
    </div>
    <!--<div class="_item">-->
        <!--<label >{{'CURRENT_LIST' | translate}}</label>-->
        <!--<textarea  required  ></textarea>-->

    <!--</div>-->

    <button class="sent" ng-click="sub()">{{'SUBMIT' | translate}}</button>
</div>