<div class="sent" ng-controller="sentCtrl" ng-init="init()">
    <div class="h_header">
        <span>发送LSK <i>(2)</i> </span><a class="close"href="" ng-click="Close()"><img src="/assets/common/close.png" alt=""></a>
    <p class="tips">请输入收币地址，以及您想发送的LSK数量。</p>
    </div>

    <div class="item_detail two">

        <div class="left">
            <a>接收地址</a>
            <a>输入金额</a>
        </div>
        <div class="right">
            <input type="text" value="请输入接收地址">
            <input type="text" value="发送LSK金额">
        </div>
        <p class="right lh38" >需要支付0.33XAS</p>
        <p class="right center">请确保您正在发送LSK给正确的地址，本操作无法撤消。</p>
    </div>
    <div class="btn_wrap">
        <button>发送LSK</button>
        <a href="" ng-click="Close()">取消</a>

    </div>

</div>