#home {
  //background-color: #150826;
  //width: 60%; @media screen and (min-width:960px) and (max-width:1200px)
  @media screen and (min-width:1400px) and (max-width:1920px) {
    .homeinfo {
      //display: box;
      //display: flex;
      //display: -webkit-box;
      //padding: 0 auto;
      width: 750px;
      height: 330px;
      margin-left: 50px;
      hr {
        height: 0;
        width: 100%;
        border: none;
        border-top: 2px solid #ab884e;
        //border-top: 1px solid #191c24;
        //border-top: 4px groove #40485a;
      }
      .account_top{
        //border: 1px solid red;
        width: 100%;
        height: 145px;
        display:-webkit-flex;
        display:flex;
        -webkit-justify-content:space-between;
        justify-content:space-between;
        -webkit-align-items:center;
        align-items:center;
        margin-bottom: 10px;
        .account{
          width: 365px;
          height: 140px;
          display: inline-block;
          //margin-right: 15px;
          background-color: #efebe8;
          border-radius: 6px;
          overflow: hidden;
          position: relative;
          color: #76777c;
          span {
            display: block;
            height: 30px;
            line-height: 30px;
            text-align: center;
            width: 100%;
            margin-top: 20px;
            font-size: 20px;
            color: #b2914e;
            font-weight: 500;
          }
          i {
            font-size: 20px;
            //color: #fff;
            display: block;
            height: 30px;
            line-height: 30px;
            text-align: center;
            width: 100%;
            margin-top: 10px;
            //margin-top: 20px;
            //top: 68px;
            strong {
              font-weight: normal;
              font-size: 20px;
              margin-left: 5px;
            }
          }
          p {
            display: block;
            height: 30px;
            width: 100%;
            line-height: 30px;
            text-align: center;
            font-size: 14px;
          }
          b {
            font-style: normal;
            font-size: 14px;
            //color: #fff;
            width: 100%;
            height: 30px;
            line-height: 30px;
            text-align: center;
            display: block;
          }
          .account_i{
            //left: 152px;
            //top: 50px;
          }
          .account_p{
            //left: 109px;
            //top: 83px;
          }
          .account_b{
            //left: 97px;
            //bottom: 15px;
          }
          &:nth-child(1) {
            //background: #7f9ebf;
            //background: #171b26;
          }
          &:nth-child(2) {
            //background: #7f9ebf;
            //background: #171b26;
          }
          &:nth-child(3) {
            //background: #7f9ebf;
            //margin-right: 0;
            //background: #171b26;
          }
        }
      }
      .account_bottom{
        //border: 1px solid red;
        width: 100%;
        height: 145px;
        display:-webkit-flex;
        display:flex;
        -webkit-justify-content:space-between;
        justify-content:space-between;
        -webkit-align-items:center;
        align-items:center;
        .account{
          width: 365px;
          height: 140px;
          display: inline-block;
          //margin-right: 15px;
          background-color: #efebe8;
          border-radius: 6px;
          overflow: hidden;
          position: relative;
          color: #76777c;
          span {
            display: block;
            height: 30px;
            line-height: 30px;
            text-align: center;
            width: 100%;
            margin-top: 20px;
            font-size: 20px;
            color: #b2914e;
            font-weight: 500;
          }
          i {
            font-size: 30px;
            font-style: normal;
            margin-top: 25px;
            display: block;
            width: 100%;
            height: 30px;
            line-height:30px;
            text-align: center;
            strong {
              font-weight: normal;
              font-size: 20px;
              margin-left: 5px;
            }
          }
          b {
            font-style: normal;
            font-size: 14px;
            color: #fff;
            position: absolute;
            left: 20px;
            top: 112px;
          }
          &:nth-child(1) {
            //background: #7f9ebf;
            //background: #171b26;
          }
          &:nth-child(2) {
            //background: #7f9ebf;
            //background: #171b26;
          }
          &:nth-child(3) {
            //background: #7f9ebf;
            //margin-right: 0;
            //background:#171b26;
          }
        }
      }
    }
    .latest {
      border:none;
      margin-left: 50px;
      .table_title {
        margin: 70px 0 20px 0;
        font-size: 25px;
        color: #b8b9bd;
      }
    }
    .deal_table {
      width: 750px;
      margin-left: 50px;
      .table {
        width: 100%;
        height: auto;
        border-collapse: separate;
        border-spacing: 0;
        tr:first-child th:first-child {
          border-top-left-radius: 12px;
        }

        tr:first-child th:last-child {
          border-top-right-radius: 12px;
        }

        tr:last-child td:first-child {
          border-bottom-left-radius: 12px;
        }

        tr:last-child td:last-child {
          border-bottom-right-radius: 12px;
        }

        .font_table{
          //background: #1e2126;
          td{
            font-size: 20px;
            color: #939498;
            text-align: center;
            background: #1f2c3f;
            padding-top: 0px;
          }
        }
        td {
          text-align: center;
          width: 100%;
          border: 0;
          //font-size: 25px;
          max-width: 150px;
          min-width: 100px;
          overflow-x: auto;
          white-space: nowrap;
        }
        tr:nth-child(even) {
          background: black;
          width: 100%;
          border: 0;
          color: #fff;
        }
        tr:nth-child(odd) {
          width: 100%;
          background: #121117;
          border: 0;
          color: #fff;
        }
        .font_table{
          background: #1f2c3f;
          td{
            font-size: 20px;
            color: #939498;
            text-align: center;
            padding-top: 0px;
            background: #1f2c3f;
          }
        }
        tr:hover {

        }
      }
      thead{
        width: 100%;
        //height:45px;
        border-collapse: separate;
        border-spacing: 0;
        border: 1px #d4d8da;
        tr{
          th{
            height: 20px;
            width: 100%;
            //border-bottom:none;
            background: #121e34;
            border-bottom: 2px solid #b3904c;
          }
        }
      }

      .deal_table_title {
        font-size: 20px;
        color: #333;
      }
    }
  }
  @media screen and (min-width: 1920px) {
    .homeinfo {
      //display: box;
      //display: flex;
      //display: -webkit-box;
      //padding: 0 auto;
      width: 800px;
      height: 330px;
      margin-left: 50px;
      hr {
        height: 0;
        width: 100%;
        border: none;
        border-top: 2px solid #ab884e;
        //border-top: 1px solid #191c24;
        //border-top: 4px groove #40485a;
      }
      .account_top{
        //border: 1px solid red;
        width: 100%;
        height: 145px;
        display:-webkit-flex;
        display:flex;
        -webkit-justify-content:space-between;
        justify-content:space-between;
        -webkit-align-items:center;
        align-items:center;
        margin-bottom: 10px;
        .account{
          width: 390px;
          height: 140px;
          display: inline-block;
          //margin-right: 15px;
          background-color: #efebe8;
          border-radius: 6px;
          overflow: hidden;
          position: relative;
          span {
            //margin-left: 30px;
            //margin-right: 30px;
            //display: block;
            display: block;
            height: 30px;
            line-height: 30px;
            text-align: center;
            width: 100%;
            margin-top: 20px;
            font-size: 20px;
            color: #b2914e;
            font-weight: 500;
          }
          i {
            font-size: 20px;
            display: block;
            height: 30px;
            line-height: 30px;
            text-align: center;
            width: 100%;
            margin-top: 10px;
            strong {
              font-weight: normal;
              font-size: 20px;
              margin-left: 5px;
            }
          }
          p {
            display: block;
            height: 30px;
            width: 100%;
            line-height: 30px;
            text-align: center;
            font-size: 14px;
          }
          b {
            font-style: normal;
            font-size: 14px;
            //color: #fff;
            width: 100%;
            height: 30px;
            line-height: 30px;
            text-align: center;
            display: block;
          }
          .account_i{
            //left: 152px;
            //top: 50px;
          }
          .account_p{
            //left: 109px;
            //top: 83px;
          }
          .account_b{
            //left: 97px;
            //bottom: 15px;
          }
          &:nth-child(1) {
            //background: #7f9ebf;
            //background: #171b26;
          }
          &:nth-child(2) {
            //background: #7f9ebf;
            //background: #171b26;
          }
          &:nth-child(3) {
            //background: #7f9ebf;
            //margin-right: 0;
            //background: #171b26;
          }
        }
      }
      .account_bottom{
        //border: 1px solid red;
        width: 100%;
        height: 145px;
        display:-webkit-flex;
        display:flex;
        -webkit-justify-content:space-between;
        justify-content:space-between;
        -webkit-align-items:center;
        align-items:center;
        .account{
          width: 390px;
          height: 140px;
          display: inline-block;
          //margin-right: 15px;
          background-color: #efebe8;
          border-radius: 6px;
          overflow: hidden;
          position: relative;
          color: #76777c;
          span {
            display: block;
            height: 30px;
            line-height: 30px;
            text-align: center;
            width: 100%;
            margin-top: 20px;
            font-size: 20px;
            color: #b2914e;
            font-weight: 500;
          }
          i {
            font-size: 30px;
            font-style: normal;
            margin-top: 25px;
            display: block;
            width: 100%;
            height: 30px;
            line-height:30px;
            text-align: center;
            strong {
              font-weight: normal;
              font-size: 20px;
              margin-left: 5px;
            }
          }
          b {
            font-style: normal;
            font-size: 14px;
            color: #fff;
            position: absolute;
            left: 20px;
            top: 112px;
          }
          &:nth-child(1) {
            //background: #7f9ebf;
            //background: #171b26;
          }
          &:nth-child(2) {
            //background: #7f9ebf;
            //background: #171b26;
          }
          &:nth-child(3) {
            //background: #7f9ebf;
            //margin-right: 0;
            //background:#171b26;
          }
        }
      }
    }
    .latest {
      border:none;
      margin-left: 50px;
      .table_title {
        margin: 70px 0 20px 0;
        font-size: 25px;
        color: #b8b9bd;
      }
    }
    .deal_table {
      width: 800px;
      margin-left: 50px;
      }
      .table {
        width: 100%;
        height: auto;
        border-collapse: separate;
        border-spacing: 0;
        tr:first-child th:first-child {
          border-top-left-radius: 12px;
        }

        tr:first-child th:last-child {
          border-top-right-radius: 12px;
        }

        tr:last-child td:first-child {
          border-bottom-left-radius: 12px;
        }

        tr:last-child td:last-child {
          border-bottom-right-radius: 12px;
        }

        .font_table{
          background: #1f2c3f;
          td{
            font-size: 20px;
            color: #939498;
            text-align: center;
            padding-top: 0px;
          }
        }
        td {
          text-align: center;
          width: 100%;
          border: 0;
          //font-size: 25px;
          max-width: 150px;
          min-width: 100px;
          overflow-x: auto;
          white-space: nowrap;
        }
        tr:nth-child(even) {
          background: black;
          width: 100%;
          border: 0;
          color: #fff;
        }
        tr:nth-child(odd) {
          width: 100%;
          background: #121117;
          border: 0;
          color: #fff;
        }
        .font_table{
          background: #1f2c3f;
          td{
            font-size: 20px;
            color: #939498;
            text-align: center;
            padding-top: 0px;
            background: #1f2c3f;
          }
        }
        tr:hover {

        }
      }
      thead{
        width: 100%;
        //height:45px;
        border-collapse: separate;
        border-spacing: 0;
        border: 1px #d4d8da;
        tr{
          th{
            height: 20px;
            width: 100%;
            //border-bottom:none;
            background: #121e34;
            border-bottom: 2px solid #b3904c;
          }
        }
      }

      .deal_table_title {
        font-size: 20px;
        color: #333;
      }
    }
  @media screen and (max-width: 1400px)  {
    .homeinfo {
      //display: box;
      //display: flex;
      //display: -webkit-box;
      //padding: 0 auto;
      width: 700px;
      height: 300px;
      margin-left: 50px;
      hr {
        height: 0;
        width: 100%;
        border: none;
        border-top: 2px solid #ab884e;
        //border-top: 1px solid #191c24;
        //border-top: 4px groove #40485a;
      }
      .account_top{
        //border: 1px solid red;
        width: 100%;
        height: 145px;
        display:-webkit-flex;
        display:flex;
        -webkit-justify-content:space-between;
        justify-content:space-between;
        -webkit-align-items:center;
        align-items:center;
        margin-bottom: 10px;
        .account{
          width: 340px;
          height: 140px;
          display: inline-block;
          //margin-right: 15px;
          background-color: #efebe8;
          border-radius: 6px;
          overflow: hidden;
          position: relative;
          span {
            //margin-left: 30px;
            //margin-right: 30px;
            display: block;
            height: 30px;
            line-height: 30px;
            text-align: center;
            width: 100%;
            margin-top: 20px;
            font-size: 20px;
            color: #b2914e;
            font-weight: 500;
          }
          i {
            font-size: 20px;
            display: block;
            height: 30px;
            line-height: 30px;
            text-align: center;
            width: 100%;
            margin-top: 10px;
            strong {
              font-weight: normal;
              font-size: 20px;
              margin-left: 5px;
            }
          }
          p {
            display: block;
            height: 30px;
            width: 100%;
            line-height: 30px;
            text-align: center;
            font-size: 14px;
          }
          b {
            font-style: normal;
            font-size: 14px;
            //color: #fff;
            width: 100%;
            height: 30px;
            line-height: 30px;
            text-align: center;
            display: block;
          }
          .account_i{
            //left: 152px;
            //top: 50px;
          }
          .account_p{
            //left: 109px;
            //top: 83px;
          }
          .account_b{
            //left: 97px;
            //bottom: 15px;
          }
          &:nth-child(1) {
            //background: #7f9ebf;
            //background: #171b26;
          }
          &:nth-child(2) {
            //background: #7f9ebf;
            //background: #171b26;
          }
          &:nth-child(3) {
            //background: #7f9ebf;
            //margin-right: 0;
            //background: #171b26;
          }
        }
      }
      .account_bottom{
        //border: 1px solid red;
        width: 100%;
        height: 145px;
        display:-webkit-flex;
        display:flex;
        -webkit-justify-content:space-between;
        justify-content:space-between;
        -webkit-align-items:center;
        align-items:center;
        .account{
          width: 340px;
          height: 140px;
          display: inline-block;
          //margin-right: 15px;
          background-color: #efebe8;
          border-radius: 6px;
          overflow: hidden;
          position: relative;
          color: #76777c;
          span {
            display: block;
            height: 30px;
            line-height: 30px;
            text-align: center;
            width: 100%;
            margin-top: 25px;
            font-size: 20px;
            color: #b2914e;
            font-weight: 500;
          }
          i {
            font-size: 30px;
            font-style: normal;
            margin-top: 25px;
            display: block;
            width: 100%;
            height: 30px;
            line-height:30px;
            text-align: center;
            strong {
              font-weight: normal;
              font-size: 20px;
              margin-left: 5px;
            }
          }
          b {
            font-style: normal;
            font-size: 14px;
            color: #fff;
            position: absolute;
            left: 20px;
            top: 112px;
          }
          &:nth-child(1) {
            //background: #7f9ebf;
            //background: #171b26;
          }
          &:nth-child(2) {
            //background: #7f9ebf;
            //background: #171b26;
          }
          &:nth-child(3) {
            //background: #7f9ebf;
            //margin-right: 0;
            //background:#171b26;
          }
        }
      }
    }
    .latest {
      border:none;
      margin-left: 50px;
      .table_title {
        margin: 92px 0 10px 0;
        font-size: 20px;
        color: #b8b9bd;
      }
    }
    .deal_table {
      width: 700px;
      margin-left: 50px;
      .table{
        .font_table td{
          font-size: 20px;
          color: #939498;
          text-align: center;
          padding-top: 0px;
          background: #1f2c3f;
          white-space: nowrap;
        }
        thead{
          tr{
            th{
              //vertical-align: bottom;
              border-bottom: 2px solid #b3904c;
            }
          }
        }
      }
      .ylb_table{
        td{
          max-width: 150px;
          min-width: 100px;
          font-size: 10px;
        }
        .table {
         td{
            font-size: 20px;
            color: #939498;
            text-align: center;
            padding-top: 0px;
            background: #1f2c3f;
           //white-space: nowrap;
          }
          width: 100%;
          height: auto;
          border-collapse: separate;
          border-spacing: 0;
          tr:first-child th:first-child {
            border-top-left-radius: 12px;
          }

          tr:first-child th:last-child {
            border-top-right-radius: 12px;
          }

          tr:last-child td:first-child {
            border-bottom-left-radius: 12px;
          }

          tr:last-child td:last-child {
            border-bottom-right-radius: 12px;
          }

          .font_table{
            background: #1f2c3f;
            td{
              max-width: 100px;
              font-size: 20px;
              color: #939498;
              text-align: center;
              padding-top: 0px;
            }
          }
          td {
            text-align: center;
            width: 100%;
            border: 0;
            //font-size: 25px;
            max-width: 134px;
            font-size: 10px;
            text-overflow:ellipsis;
            white-space:nowrap;
            overflow:hidden;
            overflow-x: auto;
          }
          tr:nth-child(even) {
            background: black;
            width: 100%;
            border: 0;
            color: #fff;
          }
          tr:nth-child(odd) {
            width: 100%;
            background: #121117;
            border: 0;
            color: #fff;
          }
          .font_table{
            background: #1f2c3f;
            td{
              font-size: 20px;
              color: #939498;
              text-align: center;
              padding-top: 0px;
              background: #1f2c3f;
            }
          }
          tr:hover {

          }
        }
        thead{
          width: 100%;
          //height:45px;
          border-collapse: separate;
          border-spacing: 0;
          border-bottom: 2px solid #b3904c;
          tr{
            th{
              height: 20px;
              width: 100%;
              //border-bottom:none;
              background: #121e34;
              border-bottom: 2px solid #b3904c;
              //background: -moz-linear-gradient(to bottom, #000000 0%,#1e2126 100%);
              //background: -webkit-linear-gradient(to bottom, #000000 0%,#1e2126 100%);
              //background: -o-linear-gradient(to bottom, #000000 0%,#1e2126 100%);
              //background: -ms-linear-gradient(to bottom, #000000 0%,#1e2126 100%);
              //background: linear-gradient(to bottom, #000000 0%,#1e2126 100%);
            }
          }
        }

        .deal_table_title {
          font-size: 20px;
          color: #333;
        }
      }
    }
  }
  }
