#home {
  //background-color: #150826;
  margin-left: 50px;
  @media screen and (max-width: 1980px) {
    .homeinfo {
      //display: box;
      //display: flex;
      //display: -webkit-box;
      //padding: 0 auto;
      width: 872px;
      height: 330px;
      hr {
        height: 0;
        width: 100%;
        border: none;
        border-top: 4px groove #040508;
        border-top: 1px solid #191c24;
        border-top: 4px groove #40485a;
      }
      .account_top{
        //border: 1px solid red;
        width: 100%;
        height: 145px;
        display:-webkit-flex;
        display:flex;
        display:-webkit-box;
        display:-moz-box;
        display:-ms-flexbox;
        -webkit-justify-content:space-between;
        justify-content:space-between;
        -webkit-box-align:center;
        -webkit-align-items:center;
        align-items:center;
        .account{
          width: 350px;
          height: 140px;
          display: inline-block;
          //margin-right: 15px;
          background-color: #2d3039;
          border-radius: 6px;
          overflow: hidden;
          position: relative;
          span {
            //margin-left: 30px;
            //margin-right: 30px;
            //display: block;
            height: 30px;
            margin-bottom: 30px;
            font-size: 20px;
            color: #fff;
             //line-height: 30px;
            position: absolute;
            left: 20px;
            top: 20px;
          }
          i {
            font-size: 20px;
            color: #fff;
            font-style: normal;
            position: absolute;
            margin-bottom: 30px;
            left: 20px;
            top: 68px;
            strong {
              font-weight: normal;
              font-size: 20px;
              margin-left: 5px;
            }
          }
          p {
            font-style: normal;
            font-size: 14px;
            color: #fff;
            position: absolute;
            left: 20px;
            top: 94px;
          }
          b {
            font-style: normal;
            font-size: 14px;
            color: #fff;
            position: absolute;
            left: 20px;
            bottom: 15px;
          }
          .account_i{
            left: 152px;
            top: 50px;
          }
          .account_p{
            left: 109px;
            top: 83px;
          }
          .account_b{
            left: 97px;
            bottom: 15px;
          }
          &:nth-child(1) {
            //background: #7f9ebf;
            //background: #171b26;
          }
          &:nth-child(2) {
            //background: #7f9ebf;
            //background: #171b26;
          }
          &:nth-child(3) {
            //background: #7f9ebf;
            //margin-right: 0;
            //background: #171b26;
          }
        }
      }
      .account_bottom{
        //border: 1px solid red;
        width: 100%;
        height: 145px;
        display:-webkit-flex;
        display:flex;
        display:-webkit-box;
        display:-moz-box;
        display:-ms-flexbox;
        -webkit-justify-content:space-between;
        justify-content:space-between;
        -webkit-box-align:center;
        -webkit-align-items:center;
        align-items:center;
        .account{
          width: 350px;
          height: 140px;
          display: inline-block;
          //margin-right: 15px;
          background-color: #2d3039;
          border-radius: 6px;
          overflow: hidden;
          position: relative;
          span {
            //margin-left: 30px;
            //margin-right: 30px;
            margin-bottom: 30px;
            font-size: 20px;
            color: #fff;
            // line-height: 140px;
            position: absolute;
            left: 20px;
            top: 20px;
          }
          i {
            font-size: 30px;
            color: #fff;
            font-style: normal;
            position: absolute;
            margin-bottom: 30px;
            display: block;
            width: 100%;
            height: 30px;
            line-height:30px;
            text-align: center;
            //left: 20px;
            top: 68px;
            strong {
              font-weight: normal;
              font-size: 20px;
              margin-left: 5px;
            }
          }
          b {
            font-style: normal;
            font-size: 14px;
            color: #fff;
            position: absolute;
            left: 20px;
            top: 112px;
          }
          &:nth-child(1) {
            //background: #7f9ebf;
            //background: #171b26;
          }
          &:nth-child(2) {
            //background: #7f9ebf;
            //background: #171b26;
          }
          &:nth-child(3) {
            //background: #7f9ebf;
            //margin-right: 0;
            //background:#171b26;
          }
        }
      }
    }
    .latest {
      border:none;
      .table_title {
        margin: 70px 0 20px 0;
        font-size: 25px;
        color: #b8b9bd;
      }
    }
    .deal_table {
      width: 826px;
      .table {
        width: 100%;
        height: auto;
        border-collapse: separate;
        border-spacing: 0;
        tr:first-child th:first-child {
          border-top-left-radius: 12px;
        }

        tr:first-child th:last-child {
          border-top-right-radius: 12px;
        }

        tr:last-child td:first-child {
          border-bottom-left-radius: 12px;
        }

        tr:last-child td:last-child {
          border-bottom-right-radius: 12px;
        }

        .font_table{
          background: #1e2126;
          td{
            font-size: 20px;
            color: #939498;
            text-align: center;
            padding-top: 0px;
          }
        }
        td {
          text-align: center;
          width: 100%;
          border: 0;
          //font-size: 25px;
          max-width: 200px;
          overflow-x: auto;
          white-space: nowrap;
        }
        tr:nth-child(even) {
          background: black;
          width: 100%;
          border: 0;
          color: #fff;
        }
        tr:nth-child(odd) {
          width: 100%;
          background: #121117;
          border: 0;
          color: #fff;
        }
        .font_table{
          background: #1e2126;
          td{
            font-size: 20px;
            color: #939498;
            text-align: center;
            padding-top: 0px;
            background: #1e2126;
          }
        }
        tr:hover {

        }
      }
      thead{
        width: 100%;
        //height:45px;
        border-collapse: separate;
        border-spacing: 0;
        border: 1px #d4d8da;
        tr{
          th{
            height: 20px;
            width: 100%;
            border-bottom:none;
            background: -moz-linear-gradient(to bottom, #000000 0%,#1e2126 100%);
            background: -webkit-linear-gradient(to bottom, #000000 0%,#1e2126 100%);
            background: -o-linear-gradient(to bottom, #000000 0%,#1e2126 100%);
            background: -ms-linear-gradient(to bottom, #000000 0%,#1e2126 100%);
            background: linear-gradient(to bottom, #000000 0%,#1e2126 100%);
          }
        }
      }

      .deal_table_title {
        font-size: 20px;
        color: #333;
      }
    }
  }
  @media screen and (max-width: 1400px)  {
    .homeinfo {
      //display: box;
      //display: flex;
      //display: -webkit-box;
      //padding: 0 auto;
      width: 700px;
      height: 300px;
      hr {
        height: 0;
        width: 100%;
        border: none;
        border-top: 4px groove #040508;
        border-top: 1px solid #191c24;
        border-top: 4px groove #40485a;
      }
      .account_top{
        //border: 1px solid red;
        width: 100%;
        height: 145px;
        display:-webkit-flex;
        display:flex;
        display:-webkit-box;
        display:-moz-box;
        display:-ms-flexbox;
        -webkit-justify-content:space-between;
        justify-content:space-between;
        -webkit-box-align:center;
        -webkit-align-items:center;
        align-items:center;
        .account{
          width: 325px;
          height: 140px;
          display: inline-block;
          //margin-right: 15px;
          background-color: #2d3039;
          border-radius: 6px;
          overflow: hidden;
          position: relative;
          span {
            //margin-left: 30px;
            //margin-right: 30px;
            //display: block;
            height: 30px;
            margin-bottom: 30px;
            font-size: 20px;
            color: #fff;
            //line-height: 30px;
            position: absolute;
            left: 20px;
            top: 20px;
          }
          i {
            font-size: 20px;
            color: #fff;
            font-style: normal;
            position: absolute;
            margin-bottom: 30px;
            left: 20px;
            top: 68px;
            strong {
              font-weight: normal;
              font-size: 20px;
              margin-left: 5px;
            }
          }
          p {
            font-style: normal;
            font-size: 14px;
            color: #fff;
            position: absolute;
            left: 20px;
            top: 94px;
          }
          b {
            font-style: normal;
            font-size: 14px;
            color: #fff;
            position: absolute;
            left: 20px;
            bottom: 15px;
          }
          .account_i{
            left: 152px;
            top: 50px;
          }
          .account_p{
            left: 109px;
            top: 83px;
          }
          .account_b{
            left: 97px;
            bottom: 15px;
          }
          &:nth-child(1) {
            //background: #7f9ebf;
            //background: #171b26;
          }
          &:nth-child(2) {
            //background: #7f9ebf;
            //background: #171b26;
          }
          &:nth-child(3) {
            //background: #7f9ebf;
            //margin-right: 0;
            //background: #171b26;
          }
        }
      }
      .account_bottom{
        //border: 1px solid red;
        width: 100%;
        height: 145px;
        display:-webkit-flex;
        display:flex;
        display:-webkit-box;
        display:-moz-box;
        display:-ms-flexbox;
        -webkit-justify-content:space-between;
        justify-content:space-between;
        -webkit-box-align:center;
        -webkit-align-items:center;
        align-items:center;
        .account{
          width: 325px;
          height: 140px;
          display: inline-block;
          //margin-right: 15px;
          background-color: #2d3039;
          border-radius: 6px;
          overflow: hidden;
          position: relative;
          span {
            //margin-left: 30px;
            //margin-right: 30px;
            margin-bottom: 30px;
            font-size: 20px;
            color: #fff;
            // line-height: 140px;
            position: absolute;
            left: 20px;
            top: 20px;
          }
          i {
            font-size: 30px;
            color: #fff;
            font-style: normal;
            position: absolute;
            margin-bottom: 30px;
            display: block;
            width: 100%;
            height: 30px;
            line-height:30px;
            text-align: center;
            //left: 20px;
            top: 68px;
            strong {
              font-weight: normal;
              font-size: 20px;
              margin-left: 5px;
            }
          }
          b {
            font-style: normal;
            font-size: 14px;
            color: #fff;
            position: absolute;
            left: 20px;
            top: 112px;
          }
          &:nth-child(1) {
            //background: #7f9ebf;
            //background: #171b26;
          }
          &:nth-child(2) {
            //background: #7f9ebf;
            //background: #171b26;
          }
          &:nth-child(3) {
            //background: #7f9ebf;
            //margin-right: 0;
            //background:#171b26;
          }
        }
      }
    }
    .latest {
      border:none;
      .table_title {
        margin: 92px 0 10px 0;
        font-size: 20px;
        color: #b8b9bd;
      }
    }
    .deal_table {
      width: 700px;
      .table {
        width: 100%;
        height: auto;
        border-collapse: separate;
        border-spacing: 0;
        tr:first-child th:first-child {
          border-top-left-radius: 12px;
        }

        tr:first-child th:last-child {
          border-top-right-radius: 12px;
        }

        tr:last-child td:first-child {
          border-bottom-left-radius: 12px;
        }

        tr:last-child td:last-child {
          border-bottom-right-radius: 12px;
        }

        .font_table{
          background: #1e2126;
          td{
            max-width: 100px;
            font-size: 20px;
            color: #939498;
            text-align: center;
            padding-top: 0px;
          }
        }
        td {
          text-align: center;
          width: 100%;
          border: 0;
          //font-size: 25px;
          max-width: 134px;
          font-size: 10px;
          text-overflow:ellipsis;
          white-space:nowrap;
          overflow:hidden;
          overflow-x: auto;
        }
        tr:nth-child(even) {
          background: black;
          width: 100%;
          border: 0;
          color: #fff;
        }
        tr:nth-child(odd) {
          width: 100%;
          background: #121117;
          border: 0;
          color: #fff;
        }
        .font_table{
          background: #1e2126;
          td{
            font-size: 20px;
            color: #939498;
            text-align: center;
            padding-top: 0px;
            background: #1e2126;
          }
        }
        tr:hover {

        }
      }
      thead{
        width: 100%;
        //height:45px;
        border-collapse: separate;
        border-spacing: 0;
        border: 1px #d4d8da;
        tr{
          th{
            height: 20px;
            width: 100%;
            border-bottom:none;
            background: -moz-linear-gradient(to bottom, #000000 0%,#1e2126 100%);
            background: -webkit-linear-gradient(to bottom, #000000 0%,#1e2126 100%);
            background: -o-linear-gradient(to bottom, #000000 0%,#1e2126 100%);
            background: -ms-linear-gradient(to bottom, #000000 0%,#1e2126 100%);
            background: linear-gradient(to bottom, #000000 0%,#1e2126 100%);
          }
        }
      }

      .deal_table_title {
        font-size: 20px;
        color: #333;
      }
    }
  }
}