#application{
  width: 100%;
  min-height: 508px;
  border: 1px solid #dddddd;
  .appheader{
    width: 100%;
    height: 65px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    background: #efefef;
    position: relative;
    .titleitem{
      width: 162px;
      height: 65px;
      display: inline-block;
      text-align: center;
      line-height: 65px;
      box-sizing: border-box;
      border-right: 1px solid #ddd;
      color: #777777;
      font-size:20px;
      cursor: pointer;
      background: #efefef;
    }
    .active{
      color:#3989de;
      background: #fff;
      border-bottom: 5px solid #3989de;
    }
    .right,.right1{
      position: absolute;
      top: 10px;
      box-sizing: border-box;
      height: 40px;
    }
    .right1{
      right: 10px;
      width: 300px;
      font-size: 20px;
      border: 1px solid #dddddd;
      overflow: hidden;
      .search_icon {
        width: 32px;
        height: 29px;
        position: absolute;
        left: 83px;
        top: 5px;
      }
      label{
        height: 42px;
        width: 78px;
        line-height: 40px;
        display: inline-block;
        text-align: center;
        color: #aaa;
        border-right: 1px solid #ddd;
        background-color: #f5f4f4;
      }
      input{
        background-color: #faf9f9;
        height: 40px;
        width: 219px;
        margin: 0;
        line-height: 40px;
        outline: 0;
        border: 0;
        display: inline-block;
        text-indent: 40px;
        margin-left: -6px;
      }

    }
    .right{
      right: 323px;
      width: 105px;
      border: 0;
      border-radius: 3px;
      color:#fff;
      background-color: #3989de;
    }
  }
  .content{
    width: 100%;
    min-height: 458px;

    box-sizing: border-box;
    padding: 20px;
    .innerheader{
      height: 63px;
      width: 100%;
      line-height: 63px;
      box-sizing: border-box;
      border-bottom: 5px solid #bcbcbc;
      position: relative;
      button{
        width: 100px;
        height: 40px;
        line-height: 40px;
        background-color: #3989de;
        position: absolute;
        font-size: 18px;
        border: 0;
        color:#fff;
        right: 332px;
        top: 12px;
      }
      .delete{
        background: #3989de;
      }
    }
    .tablewrap{
      td{
        text-align: center;
      }
    }
  }
}