<div class="setpsd" ng-controller="setpsdCtrl" ng-init="init()">
    <div class="modal_header">
            {{'SET_SECOND_PASSWORD' | translate}}
        <a class="modal_close" href="" ng-click="Close()"><img src="/assets/common/close.png" alt=""></a>
    </div>
    <div class="modal_content">
        <div class="form_group">
            <span>{{'PASSWORD' | translate}}：</span>
            <div class="psd_input">
                <span class="psd_img"></span>
                <input type="password" ng-trim="true" placeholder="{{'PASSWORD_RULE_TIP' | translate}}" ng-model="secondpassword">
            </div>
            <span>{{'CONFIRM' | translate}}：</span>
            <input class="psd_confirm" ng-trim="true" type="password" placeholder="&nbsp;&nbsp;{{'INPUT_AGAIN' | translate}}" ng-model="confirmPassword">
        </div>
        <div class="linear-bar">
            <span>{{'SUBMIT_SECOND_PASSWORD_TIP1' | translate}}</span><br />
            <i>{{'SUBMIT_SECOND_PASSWORD_TIP2' | translate}}</i>
        </div>
        <div class="pay_confirm" ng-click="setPassWord()">
                {{'SUBMIT' | translate}}
            <span></span>
        </div>
    </div>
</div>