#header {
    position: absolute;
    //height: 119px;
    top: 0;
    left: 0;
    min-height: 100%;
    // background: #1a4273;
    .asch_nav {
        //height: 80px;
        display: block;
        width: 280px;
        margin-left: 70px;
        @media screen and (max-width: 1400px){
            width: 221px;
            margin-left: 50px;
        }
        .logo {
            height: 150px;
            position: relative;
            .logo_img{
                position: absolute;
                left: -23%;
                top: 25px;
                width: 76%;
            }
            .logo_title{
                position: absolute;
                left: 32%;
                width: 65%;
            }
        }
        ul {
            /*width: 780px;*/
            // width: 200px;
            /*overflow: hidden;*/
            display: block;
            li {
                position: relative;
                background: linear-gradient(to right bottom, rgba(91, 91, 91, 1) 1%, rgba(29, 29, 29, 1) 99%);
                display: inline-block;
                height: 120px;
                /*width: 105px;*/
                width: 100%;
                line-height: 120px;
                //border-right: 1px solid #153863;
                box-sizing: border-box;
                margin: 0;
                border-left: 2px solid rgb(18, 17, 16);
                border-bottom: 2px solid rgb(18, 17, 16);
                border-right: 2px solid rgb(18, 17, 16);
                cursor: pointer;
                @media screen and (max-width: 1400px){
                    border-left: 1px solid rgb(18, 17, 16);
                    border-bottom: 1px solid rgb(18, 17, 16);
                    border-right: 1px solid rgb(18, 17, 16);
                }
                @media screen and (max-width: 1400px){
                    height: 80px;
                }
                &:first-child {
                    border-top: 2px solid rgb(18, 17, 16);
                    @media screen and (max-width: 1400px){
                        border-top: 1px solid rgb(18, 17, 16);
                    }
                }
                &:last-child{
                    background: linear-gradient(to right bottom, #232323 1%, #1D1D27 99%);
                }
                ;
                a {
                    position: absolute;
                    padding-left: 50px;
                    display: block;
                    width: 100%;
                    height: 120px;
                    line-height: 120px;
                    font-size: 26px;
                    font-weight: 200;
                    text-align: left;
                     /*box-sizing: border-box;*/
                    color: rgb(24, 19, 16)!important;
                    text-decoration: none;
                    @media screen and (max-width: 1400px){
                        height: 80px;
                        line-height: 80px;
                        font-size: 18px;
                    }
                    img {
                        width: 54px;
                        margin-right: 12px;
                        @media screen and (max-width: 1400px){
                            width: 34px;
                        }
                    }
                }

            }
            .blockforging{
                position: relative;
                .dropdown_menu{
                    width: 100%;
                    position: absolute;
                    top: 80px;
                    left: 0;
                    border: 1px solid #ddd;
                    z-index: 100;
                    p{
                        line-height: 43px;
                        border-bottom: 1px solid #ddd;
                        background-color: #fff;
                        font-size:16px;
                        color: #777;
                        margin: 0;
                        padding-left: 25px;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        cursor: pointer;
                        a{
                            color: #777!important;
                        }
                        &:last-child{
                            border-bottom: 0;
                        }
                    }
                }
            }

            .active {
                // background: #3989de!important;
                background: linear-gradient(to right bottom, rgba(45, 50, 56, 1) 1%, rgba(0, 0, 0, 1) 99%);
                a{
                    font-weight: 200;
                    position: relative;
                    color: rgb(219, 223, 224)!important;
                }
                &::after{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    width: 5px;
                    height: 20px;
                    border-left: 20px solid #000;
                    border-top: 30px solid transparent;
                    border-bottom: 30px solid transparent;
                    right: -30px;
                    bottom: 30px;
                    @media screen and (max-width: 1400px){
                        content: "";
                        display: inline-block;
                        position: absolute;
                        width: 5px;
                        height: 5px;
                        border-left: 20px solid #000;
                        border-top: 25px solid transparent;
                        border-bottom: 25px solid transparent;
                        right: -31px;
                        bottom: 11px;
                    }
                }
            }
        }
    }

}
.asch_tip {
    @media screen and (max-width: 2000px){
        margin-top: 5%;
    }
    width: 100%;
    p {
        height: 39px;
        line-height: 39px;
        padding-right: 20px;
        box-sizing: border-box;
        position: relative;
        a {
            font-size: 18px;
            color: #777;
            text-decoration: none;
            &:first-child{
                img {
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                    margin-top: 0px !important;
                    margin-left: 0px !important;
                }
            }
            img {
                width: 60px;
                height: 60px;
                margin-top: -7px;
                margin-left: -18px;
                border: 0;
            }
        }
        span {
            font-size: 18px;
            color: #aaa!important;
        }
        .asch_tip_rights {
            position: absolute;
            right: 25px;
            line-height: 39px;
            font-size: 18px;
            color:#777777;
            a {
                margin-left: 24px;
                text-decoration: none;
                line-height: 39px;
                color: #3276c3;
            }
        }
    }
}