<div>
    <div class="asch_nav">
        <div class="logo">
            <img class="logo_img" src="assets/common/logo_absorb.png" alt="">
            <img class="logo_title" src="assets/common/absorb_title.png" alt="">
        </div>
        <ul ng-controller="headerCtrl" ng-init="init()">
            <li ng-class="{'active':$root.active=='home'}">
                <a ng-href="#/home">
                    <img class="img_normal" src="assets/common/home3.png" alt=""><img class="img_active" src="assets/common/home2.png" alt="">{{'HOME' | translate}}</a>
            </li>
            <li  ng-class="{'active':$root.active=='personal'}" >
                <a  ng-href="#/personal"><img class="img_normal" src="assets/common/personal3.png" alt=""><img class="img_active" src="assets/common/personal2.png" alt="">{{'PERSONAL' | translate}}</a>
            </li>
            <li ng-class="{'active':$root.active=='pay'}">
                <a ng-click="goPay()"><img class="img_normal" src="assets/common/transfer3.png" alt=""><img class="img_active" src="assets/common/transfer2.png" alt="">{{'TRANSFER' | translate}}</a>
            </li>
            <li ng-disabled>
                <a ng-href=""><img src="assets/common/app1.png" alt="">{{'APPLICATIONS' | translate}}</a>
            </li>
            <li  class="exitSystem" ng-class="{'signOut':$root.active=='personal'}" ng-click="quitout()">{{'QUIT' | translate}}</li>
        </ul>
        <!--<div class="exitSystem" ng-click="quitout()">退出</div>-->
    </div>
</div>

