<div id="vote" ng-controller="voteCtrl" ng-init="init()">
    <div class="toVote">
        <div class="nav">
            <span>我要投票</span>
            <div class="nav_register">
                想成为受托人 注册
            </div>
        </div>
        <div class="vote_content">
            <div class="vote_title">
                入围受托人 <span>共112人</span>
                <div class="voteButton">
                    投票
                </div>
            </div>
            <div class="deal_table">
                <table class="table">
                    <tr class="deal_table_title ">
                        <td><span class="noSelect"></span></td>
                        <td>排名</td>
                        <td>受托人</td>
                        <td>List地址</td>
                        <td>在线率</td>
                        <td>得票率</td>
                    </tr>
                    <tr >
                        <td><span class="noSelect"></span></td>
                        <td>2</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr >
                        <td><span class="selected"></span></td>
                        <td>2</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr >
                        <td><span class="noSelect"></span></td>
                        <td>2</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr >
                        <td><span class="selected"></span></td>
                        <td>2</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr >
                        <td><span class="noSelect"></span></td>
                        <td>2</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr >
                        <td><span class="selected"></span></td>
                        <td>2</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr >
                        <td><span class="selected"></span></td>
                        <td>2</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr >
                        <td><span class="selected"></span></td>
                        <td>2</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr >
                        <td><span class="selected"></span></td>
                        <td>2</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                </table>
            </div>
            <div class="vote_title">
                候选受托人 <span>共112人</span>
                <div class="voteButton">
                    投票
                </div>
            </div>
            <div class="deal_table">
                <table class="table">
                    <tr class="deal_table_title ">
                        <td><span class="noSelect"></span></td>
                        <td>排名</td>
                        <td>受托人</td>
                        <td>List地址</td>
                        <td>在线率</td>
                        <td>得票率</td>
                    </tr>
                    <tr >
                        <td><span class="noSelect"></span></td>
                        <td>2</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr >
                        <td><span class="selected"></span></td>
                        <td>2</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr >
                        <td><span class="noSelect"></span></td>
                        <td>2</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr >
                        <td><span class="selected"></span></td>
                        <td>2</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr >
                        <td><span class="noSelect"></span></td>
                        <td>2</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr >
                        <td><span class="selected"></span></td>
                        <td>2</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr >
                        <td><span class="selected"></span></td>
                        <td>2</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr >
                        <td><span class="selected"></span></td>
                        <td>2</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr >
                        <td><span class="selected"></span></td>
                        <td>2</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    <div class="voteRecord">
        <div class="nav">
            <span>投票记录</span>
        </div>
        <div class="vote_content">
            <div class="vote_title">
                <span>共112人</span>
                <div class="deleteButton">
                    删除
                </div>
                <p class="tip">删除就会取消投票</p>

            </div>
            <div class="deal_table">
                <table class="table">
                    <tr class="deal_table_title ">
                        <td><span class="noSelect"></span></td>
                        <td>受托人</td>
                        <td>List地址</td>
                        <td>在线率</td>
                        <td>得票率</td>
                    </tr>
                    <tr >
                        <td><span class="noSelect"></span></td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr >
                        <td><span class="selected"></span></td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr >
                        <td><span class="noSelect"></span></td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr >
                        <td><span class="selected"></span></td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr >
                        <td><span class="noSelect"></span></td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr >
                        <td><span class="selected"></span></td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr >
                        <td><span class="selected"></span></td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr >
                        <td><span class="selected"></span></td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr >
                        <td><span class="selected"></span></td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="clear">

    </div>
</div>